<html>
<head>
  <h1>Welcome to the Company Project Site</h1>

</head>
<body>

</body>
<div><br>
  <a class="btn btn-default" href="Companies" role="button">Link to Companys</a>

  <a class="btn btn-default" href="Customers" role="button">Link to Customers</a>

  <a class="btn btn-default" href="Orders" role="button">Link to Orders</a>

</div>

</html>
