<html>
<head>
  <h1>Welcome to the Company Site</h1>

</head>
<body>

</body>
<div><br>
  <button class = big_awesome ><%= link_to "Companies List ", controller:companies_path%></button>

  <button class = big_awesome><%= link_to "Customer List", controller:customers_path%></button>

  <button class = big_awesome><%= link_to "Order List", controller:orders_path%></button>


</div>

</html>
