<html>
<head>


</head>
<body>
  <h1>Welcome to the Company Site</h1>
</body>

<div>
  <button class = "btn btn-info"><%= link_to "List of Companies ", controller:companies_path%></button><br>

  <br>
  <br><button class = "btn btn-info"><%= link_to "Customer List", controller:customers_path%></button><br>

  <br>
  <br><button class = "btn btn-info"><%= link_to "Order List", controller:orders_path%></button><br>

</div>
</html>
