<!DOCTYPE html>
<html>
<head>

  <div>
    <h1><title>CompanySomething</title></h1>
  </div>

</head>


<div>
  <body>
    <h3>Welcome User: <% if signed_in? %><%= link_to @current_user.name, account_edit_path %><% end %></h3>
  </body>
</div>

<%= yield %>

</html>
